@model KizspyWebApp.Models.Product

@{
    ViewData["Title"] = "Details";
}
<div class="card p-3">
    <div class="card-body pt-0">
        <h1>Details</h1>

        <div>
            <h4>Product</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Price)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Qty)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Qty)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Image)
                </dt>
                <dd class="col-sm-10">
                    <img class="card-img-top bgi-no-repeat bgi-position-center bgi-size-cover h-300px h-md-auto h-lg-300px h-xxl-auto mw-100 w-550px" src="@Model.Image" width="100%" alt="Card image cap">
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd class="col-sm-10">
                    @if (Model.Status)
                    {
                        <span class="badge badge-success">Active</span>
                    }
                    else
                    {
                        <span class="badge badge-danger">Inactive</span>
                    }
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
            <a asp-controller="Home" asp-action="Index">Back to List</a>
        </div>
    </div>
</div>